body{
    background-color: rgb(172, 172, 172);
    margin: 0;
    
}

article{
    margin-left: 8px;
}

.header {

    margin: auto;
background-color: rgba(240, 82, 42, 0.877);

}
.header h1 {
    padding-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 0;
background-color: rgba(240, 82, 42, 0.877);

}
.header li{
    display: inline-block;
    background-color: rgb(204, 157, 125);
    margin-bottom: 5px;
    margin-left: 7px;
    font-size: 21px;
    border-radius: 10%;
}
header a{
    border-radius: 10%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
nav {
    padding-bottom: 1px;
}
nav a:hover {
    background-color: aliceblue;
}

#info1 ul{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
 
}

#reino  {
    display: inline-block;
    max-width: 80%;
    padding-left: 0px;
    height: 300px;
}
#reino img {
    display: inline-block;
}

#reino ul {
    padding-left:  8px;
}

#info2 {
    background-color: rgba(240, 255, 240, 0.699);
    margin-left: 0%;
}
#info2 p {
    display: inline-block;
    max-width: 50%;
}

#info2 img {
    display: inline-block;
}

#info3 {
    display: inline-block;
    align-content: center;
    
}

.video {
    align-items: center;
    margin: auto;
  width: 50%;
}

footer {
    background-color: rgb(77, 141, 13);
    text-align: right;
    clear: both;
       
    margin-top: -15px;
}
footer p {
    margin-bottom: 0;
}

